<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" text="text.css" href="{{url_for('static', filename = 'styles/style.css') }}">
      <title>
          {% block title %}

          {% endblock %}
      </title>
      <style>
        body{
          background-image:url({{url_for('static', filename='styles/background.png')}})
        }
      </style>
   </head>
   <body>
     <p><p></p></p>
    <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only"></span></a>
        <a class="nav-link" href="{{ url_for('market_page') }}">Market</a>
          <img src = "{{url_for('static', filename='styles/house.png')}}" class="logo"/>
        {% if current_user.is_authenticated %}
        <div class="right">
          <a class="nav-link" href="{{ url_for('getprofile') }}">Welcome, {{ current_user.username }}</a>
          <a class="nav-link" style="color: rgb(255, 255, 255); font-weight: bold">
            <i class="fas fa-coins"></i>
            {{ current_user.prettier_budget }}
          </a>
          <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
        </div>
        {% else %}
        <div class="right">
          <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
          <a class="nav-link" href="{{ url_for('register_page') }}">Register</a>
        </div>
        {% endif %}
      </div>
      </div>
      
    </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}

      {% endblock %}
   </body>
   <style>
      body {
      background-color: #ffffff;
      color: black
      }
   </style>
</html>