{% extends 'base.html' %}
{% block title %}
    Listings
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
      {% endwith %}

        <form method="POST" class="form-signin" style="color:rgb(0, 0, 0)">
            {{ form.hidden_tag() }}
            <h1 class="display-4 font-weight-normal" style="color:white; font-family: Helvetica, sans-serif; margin-left: 1%;"">
                Add listing
            </h1>
            <br>
            <div class ="listingButton">
              {{ form.city.label() }}
              {{ form.city(class="form-control", placeholder="Enter city") }}
            </div>
            <div class="listingButton">
              {{ form.price.label() }}
              {{ form.price(class="form-control", placeholder="Price") }}
            </div>
            <div class="listingButton">
              {{ form.address.label() }}
              {{ form.address(class="form-control", placeholder="Address") }}
            </div>
            <div class="listingButton">
              {{ form.zipcode.label() }}
              {{ form.zipcode(class="form-control", placeholder="Zipcode") }}
            </div>
            <div class="listingButton">
              {{ form.bed.label() }}
              {{ form.bed(class="form-control", placeholder="Number of Bed") }}
            </div>
            <div class="listingButton">
              {{ form.bath.label() }}
              {{ form.bath(class="form-control", placeholder="Number of Bath") }}
            </div>
            <div class="listingButton">
              {{ form.description.label() }}
              {{ form.description(class="form-control", placeholder="Description of Property") }}
            </div>


            <br>
            <p></p>
              {{ form.submit() }}
            
            

        </form>
    </div>
</body>
{% endblock %}