<head>
    <link rel="stylesheet" text="text.css" href="{{url_for('static', filename = 'styles/style.css') }}">
</head>
{% extends 'base.html' %}
{% block title %}
    Welcome to the MarketPlace
{% endblock %}
{% block content %}

<form method="POST" class="form-signin" style="color:rgb(0, 0, 0)">
    {{ form.hidden_tag() }}
    <h1 class="display-4 font-weight-normal" style="color:white; font-family: Helvetica, sans-serif; margin-left: 1%;">
        Add listing
    </h1>
    {% if items %}
        {% for item in items %}
        <div class="box" style="font-family: Helvetica, sans-serif; margin-left: 1%;">
            {{item}} 
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + item.image_file) }}">

        </div>
        <div class = "purchaseButton">
            <a class="btn btn-primary" href="{{ url_for('market_page') }}">Buy</a>
            {{ form.submit() }}
        </div>
        {% endfor %}
    {% else %}
        <p class="lead font-weight-normal" style="color:white; font-family: Helvetica, sans-serif; margin-left: 1%;"> There were no results that match your search. Please try again!</p>
    {% endif %}

</form>


{% endblock %}