{% extends 'base.html'%}
    Profile Page
{%block content%}
<center>
<h1>Welcome, {{ current_user.username }}!</h1>
<br>

<div class="changediv">
<br>

    <h3> Your Listings</h3>
{% for item in items %}
    <div class="box" style="font-family: Helvetica, sans-serif; margin-left: 1%;">
        {{item}}
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + item.image_file) }}">
    </div>
{% endfor %}
    <br>
    <br>

    <form method="POST" class="form-delete" style="color: white;">
        {{ delete_user.hidden_tag() }}
        <h4 class="text-center">
        Are you sure you want to delete {{ current_user.username }}?
        </h4>
        <br>
        <input id="deleted_user" name="deleted_user" type="hidden" value="{{current_user.username}}">
        {{ delete_user.submit(class="btn btn-danger") }}
    </form>
    <h4> Change Password </h4>
    <form method="POST" class="form-change_password" style="color: white;">
        {{form_change_password.hidden_tag()}}

        {{form_change_password.new_password.label()}}
        {{ form_change_password.new_password(class = "form-control", placeholder="Password")}}

        {{form_change_password.submit(class = "btn btn-primary")}}

    </form>


</div>

</center>
{%endblock content%}

