<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left {
  position: absolute;
  bottom: 20%;
  left: 43%;
}

.top-left {
  position: absolute;
  top: 60%;
  left: 42%;
}

.top-right {
  position: absolute;
  top: 53%;
  right: 35%;
}

.bottom-right {
  position: absolute;
  bottom: 13%;
  right: 43%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>

<h2>Search Bar here</h2>
<p>House Listing</p>

<div class="container">
  <img src="home1.jpg" style="width:100%;">
  <div class="bottom-left">801 36th Avenue</div>
  <div class="top-left">Price: $3,432,323</div>
  <div class="top-right">Bedroom: 3, Bathroom: 2</div>
  <div class="bottom-right">Oakland, CA</div>
  <div class="centered">House #1</div>
</div>

</body>
</html> 

