<head>
    <link rel="stylesheet" text="text.css" href="{{url_for('static', filename = 'styles/style.css') }}">
</head>
{% extends 'base.html' %}
{% block title %}
    Welcome to the MarketPlace
{% endblock %}
{% block content %}

<h1 class="display-4 font-weight-normal" style="color:white; font-family: Helvetica, sans-serif; margin-left: 1%;">
    My listings
</h1>

{% for item in items %}
    <div class="box" style="font-family: Helvetica, sans-serif; margin-left: 1%;">
        {{item}}
        <img class="rounded-circle account-img" src="userimage.png">
    </div>

    
{% endfor %}

{% endblock %}